[submodule "CREWOSCTracker"]
	path = CREWOSCTracker
	url = https://github.com/CREW-Brussels/CREWOSCTracker.git
[submodule "CREWVRTracking"]
	path = CREWVRTracking
	url = https://github.com/CREW-Brussels/CREWVRTracking.git
[submodule "CREWReplicatedAudioCapture"]
	path = CREWReplicatedAudioCapture
	url = https://github.com/CREW-Brussels/CREWReplicatedAudioCapture.git
[submodule "CHORUS"]
	path = CHORUS
	url = https://github.com/CREW-Brussels/CHORUS.git
[submodule "CREWAnimationUtilities"]
	path = CREWAnimationUtilities
	url = https://github.com/CREW-Brussels/CREWAnimationUtilities.git
